.services {
    background-color: black;
    margin:0;
}


.service-heading{
    color: white;
    font-family: 'Cinzel', serif;
    margin: 0;
    margin-bottom: 50px;
    font-size: 55px
}

@media only screen and (max-width: 375px) {
    .service-heading {
        margin-bottom: 0
    }
}