.navbar {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
}

.nav-logo {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Cinzel', serif;
}

.nav-links {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.link:hover {
    color: rgb(100, 98, 98);
    transition: .5s;
}